---
//https://bymlifxuzmwdmqicmkcx.supabase.co
//eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5bWxpZnh1em13ZG1xaWNta2N4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODUwNDksImV4cCI6MTk5NDM2MTA0OX0.97APrkFnBi4ZzdZK_sEbgGV8reaMh6gPVQJ5t8HTn3w
const url = "https://bymlifxuzmwdmqicmkcx.supabase.co/rest/v1/program";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5bWxpZnh1em13ZG1xaWNta2N4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3ODUwNDksImV4cCI6MTk5NDM2MTA0OX0.97APrkFnBi4ZzdZK_sEbgGV8reaMh6gPVQJ5t8HTn3w",
  },
};

const response = await fetch(url, options);
const data = await response.json();

import "../styles/global.css";
import Button from "../components/Buttons.astro";
import Header from "../components/Navi.astro";
import Footer from "../components/Footer.astro";
import Eventcard from "../components/Eventcard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/0d7a458351.js" crossorigin="anonymous"></script>
    <title>Sakura Festival</title>
  </head>
  <body>
    <Header />
    <main>
      <h2 class="citat">“Sakura connects people”</h2>
      <div class="forside_grid">
        <div class="grid_1-1-1-1">
          <div class="count">
            <h2>35</h2>
            <p>Days</p>
          </div>
          <div class="count">
            <h2>06</h2>
            <p>Hours</p>
          </div>
          <div class="count">
            <h2>45</h2>
            <p>Minutes</p>
          </div>
          <div class="count">
            <h2>17</h2>
            <p>Seconds</p>
          </div>
        </div>
        <a href="../program" class="show_knap">
          <Button variant="primary" size="medium">Show program</Button>
        </a>
        <svg class="free" width="189" height="185" viewBox="0 0 189 185" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M76.6964 96.5714C67.2224 96.8959 58.0977 99.9693 48.8311 101.938C41.2453 103.552 33.4288 104.452 26.2939 107.471C19.0804 110.51 12.6395 115.905 9.55058 123.09C6.46708 130.288 7.25274 139.323 12.5024 145.143C15.4551 148.395 19.4883 150.437 23.4118 152.396C31.4631 156.413 39.5145 160.429 47.5604 164.434C52.0675 166.687 56.859 168.989 61.878 168.592C69.5323 167.984 75.1586 161.448 79.8974 155.41C85.826 147.85 91.7477 140.307 97.6763 132.747C99.9544 129.834 102.27 126.876 103.606 123.42C110.434 105.825 91.4372 96.0455 76.691 96.5592L76.6964 96.5714Z" fill="#FFC7CD"></path>
          <path d="M98.3272 55.0704C101.112 38.8834 110.107 23.8559 123.035 13.7601C127.734 10.0899 133.64 6.93288 139.439 8.31887C144.636 9.56467 148.284 14.0837 151.538 18.3406C156.423 24.717 156.225 30.3661 161.172 36.6856C164.56 41.0141 168.202 39.3916 171.961 46.5177C175.72 53.6438 173.817 62.213 171.345 69.7363C167.195 82.401 159.347 94.203 147.984 101.164C137.665 107.484 124.977 108.949 113.543 104.907C103.272 101.281 100.069 87.543 98.3829 77.8294C97.0816 70.3233 97.0322 62.5804 98.3272 55.0704Z" fill="#FFDEE9"></path>
          <path d="M80.1737 105.881C72.508 103.123 65.7027 98.4635 58.9909 93.8499C50.8948 88.2914 42.7133 82.6396 36.2316 75.267C29.7446 67.8823 25.0491 58.4586 25.2834 48.6335C25.5176 38.8084 31.5535 28.8356 40.9166 25.9041C44.5542 24.7649 48.588 24.6459 51.8281 22.6475C55.0316 20.6654 57.0965 17.0451 60.5428 15.5094C64.8537 13.5885 69.8939 15.5316 73.9248 18.0266C86.5985 25.8656 95.3287 39.0378 100.234 53.1261C105.14 67.2143 106.53 82.2562 107.114 97.1608C107.207 99.6298 107.471 103.891 105.43 105.764C103.918 107.152 100.316 107.356 98.3659 107.729C92.2986 108.885 85.9599 107.959 80.1913 105.888L80.1737 105.881Z" fill="#FFC7CD"></path>
          <path
            d="M63.7544 63.6H79.6744V65.48H65.7144V77.2H78.0744V79.04H65.7144V92H63.7544V63.6ZM93.3594 63.6C94.426 63.6 95.4794 63.76 96.5194 64.08C97.586 64.3733 98.546 64.8533 99.3994 65.52C100.279 66.16 100.986 66.9867 101.519 68C102.053 69.0133 102.319 70.2267 102.319 71.64C102.319 72.7067 102.159 73.7467 101.839 74.76C101.519 75.7467 100.999 76.64 100.279 77.44C99.5594 78.24 98.626 78.88 97.4794 79.36C96.3327 79.84 94.9194 80.08 93.2394 80.08H88.8394V92H86.8794V63.6H93.3594ZM93.1194 78.2C94.5327 78.2 95.706 78 96.6394 77.6C97.5727 77.2 98.306 76.68 98.8394 76.04C99.3727 75.4 99.746 74.7067 99.9594 73.96C100.199 73.1867 100.319 72.44 100.319 71.72C100.319 70.8667 100.159 70.0667 99.8394 69.32C99.546 68.5733 99.106 67.92 98.5194 67.36C97.9327 66.7733 97.226 66.32 96.3994 66C95.5727 65.6533 94.6527 65.48 93.6394 65.48H88.8394V78.2H93.1194ZM97.1994 79.08L105.079 92H102.799L94.8794 79.12L97.1994 79.08ZM112.192 63.6H129.712V65.48H114.152V76.76H128.152V78.64H114.152V90.12H130.272V92H112.192V63.6ZM137.739 63.6H155.259V65.48H139.699V76.76H153.699V78.64H139.699V90.12H155.819V92H137.739V63.6ZM47.2309 113.6H64.7509V115.48H49.1909V126.76H63.1909V128.64H49.1909V140.12H65.3109V142H47.2309V113.6ZM96.5378 142.68L74.1378 117.44L74.6578 117.04L74.6978 142H72.7778V113H72.8978L95.2978 138.44L94.7778 138.6L94.7378 113.6H96.6178V142.68H96.5378ZM103.388 113.6H121.988V115.48H113.628V142H111.668V115.48H103.388V113.6ZM135.234 113.6C136.301 113.6 137.354 113.76 138.394 114.08C139.461 114.373 140.421 114.853 141.274 115.52C142.154 116.16 142.861 116.987 143.394 118C143.928 119.013 144.194 120.227 144.194 121.64C144.194 122.707 144.034 123.747 143.714 124.76C143.394 125.747 142.874 126.64 142.154 127.44C141.434 128.24 140.501 128.88 139.354 129.36C138.208 129.84 136.794 130.08 135.114 130.08H130.714V142H128.754V113.6H135.234ZM134.994 128.2C136.408 128.2 137.581 128 138.514 127.6C139.448 127.2 140.181 126.68 140.714 126.04C141.248 125.4 141.621 124.707 141.834 123.96C142.074 123.187 142.194 122.44 142.194 121.72C142.194 120.867 142.034 120.067 141.714 119.32C141.421 118.573 140.981 117.92 140.394 117.36C139.808 116.773 139.101 116.32 138.274 116C137.448 115.653 136.528 115.48 135.514 115.48H130.714V128.2H134.994ZM139.074 129.08L146.954 142H144.674L136.754 129.12L139.074 129.08ZM161.084 131.88L150.484 113.6H152.884L162.444 130.24L161.764 130.28L171.284 113.6H173.644L163.044 131.88V142H161.084V131.88Z"
            fill="#4A5849"></path>
        </svg>
        <img class="blomst2" src="/svg/blomst.svg" alt="" />
      </div>
      <h1>EVENTS</h1>
      <article class="grid_1-1-1">
        <Eventcard title="Wadaiko" about="High powered drum show" imgPath="/svg/drums.svg" />
        <div class="hide">
          <Eventcard title="Karate kids" about="Hard hitting martial arts" imgPath="/svg/karatekid.svg" />
        </div>
        <div class="hide1">
          <Eventcard title="Calligraphy" about="Ink painting with soul" imgPath="/svg/calligraphy.svg" />
        </div>
      </article>
      <a href="../program" class="show_knap2">
        <Button variant="primary" size="medium">Show program</Button>
      </a>
      <h1>SAKURA FESTIVAL</h1>
      <article class="grid_1-1">
        <div>
          <p>
            Each spring at Langelinje you can discover the cherry blossom or as we call it, <span>sakura</span>. We share with you the beautiful tradition of connecting under the sakura trees. We dance, we laugh, we eat! <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a class="mere_knap" href="../about"><Button variant="primary" size="small">Learn more</Button></a>
        </div>
        <div class="volunteer_grid">
          <h4>Do you wanna join the Sakura Festival team?</h4>
          <img class="blomst" src="/svg/blomst.svg" alt="" />
          <a class="volunteer_knap" href="../contact"><Button variant="primary" size="small">BECOME A VOLUNTEER</Button></a>
        </div>
      </article>
      <h2 class="citat citat2">“People meet under the sakura trees”</h2>
      <h1>BOOTHS</h1>
      <article class="grid_1-1">
        <div>
          <p>Try our many booths at the festival. There is everything from Japanese riceballs, to bonsai plants.</p>
          <a class="mere_knap" href="../about"><Button variant="primary" size="small">Show booths</Button></a>
        </div>
        <img class="bod" src="public/svg/booth.svg" alt="BOOTHS" />
      </article>
    </main>
  </body>
  <Footer />
</html>

<style>
  .free {
    margin: auto;
  }
  h1 {
    margin-top: 4rem;
  }
  h4 {
    color: var(--primary-80);
    font-weight: var(--regular);
    margin-top: 2rem;
    text-align: center;
  }
  main {
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
  }
  span {
    color: var(--tertiary-100);
  }
  .show_knap,
  .show_knap2,
  .volunteer_knap,
  .mere_knap {
    display: grid;
  }
  .show_knap2 {
    margin-top: 2rem;
  }
  .hide,
  .hide1 {
    display: none;
  }
  .blomst2 {
    display: none;
  }
  .blomst {
    width: 200px;
    margin: auto;
    margin-bottom: 20px;
  }
  .bod {
    width: 200px;
  }
  .citat,
  .citat2 {
    font-size: var(--font-size-xs);
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .count {
    text-align: center;
  }
  .count h2 {
    font-size: var(--font-size-m);
    font-weight: var(--bold);
  }
  .count p {
    font-weight: var(--light);
  }
  .forside_grid {
    display: grid;
    gap: 3rem;
  }
  .volunteer_grid {
    display: grid;
    grid-template-rows: auto 60px 1fr;
    gap: 1rem;
  }
  .volunteer_knap {
    grid-row: 2;
  }
  .mere_knap {
    margin-top: 10px;
    grid-template-rows: 60px;
  }
  @media (min-width: 1300px) {
    .hide1 {
      display: block;
    }
  }
  @media (min-width: 1000px) {
    .forside_grid {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-bottom: 5rem;
    }
    .free {
      grid-column: 1;
      grid-row: 1/3;
    }
    .show_knap {
      grid-column: 2;
    }
    .show_knap2 {
      display: block;
      margin: auto;
      margin-top: 2rem;
    }
    .blomst2 {
      display: block;
      grid-column: 3;
      grid-row: 1/3;
    }
    .citat,
    .citat2 {
      margin-top: 7rem;
      font-size: var(--font-size-xxl);
    }
    .citat2 {
      margin-bottom: 7rem;
    }
    .hide {
      display: block;
    }
    main {
      margin-left: 7rem;
      margin-right: 7rem;
    }
    .grid_1-1-1 {
      display: flex;
      gap: 20px;
      margin-bottom: 40px;
      margin-top: 40px;
      margin: auto;
    }
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .volunteer_grid {
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .volunteer_knap {
      grid-row: 2;
      grid-column: 1/3;
    }
  }
</style>
