---
const { category, name, about } = Astro.props;
---

<article>
  <div class="hej">
    <h2>{category}</h2>
    <p>{name}</p>
    <p>{about}</p>
  </div>
</article>

<style>
  .hej {
    background-color: var(--primary-40);
    border-radius: 0rem 2rem 0rem 2rem;
    padding: 2rem;
  }
</style>
