---
---

<div class="nav_right">
  <a href="favoritter"> <i class="fa-solid fa-heart fa-3x"></i></a>
  <ul class="nav_menu">
    <li><a class="nav_item" href="program">Program</a></li>
    <li><a class="nav_item" href="booths">Booths</a></li>
    <li><a class="nav_item" href="about">About us</a></li>
    <li><a class="nav_item" href="sponsors">Sponsors</a></li>
    <li><a class="nav_item" href="contact">Contact</a></li>
  </ul>

  <div class="burger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</div>

<style></style>
