---
const { variant = "primary", size = "medium" } = Astro.props;
---

<button data-variant={variant} data-size={size}>
  <slot />
</button>

<style>
  button:hover {
    scale: 1.04;
  }

  /* Variants */
  [data-variant="primary"] {
    background: var(--tertiary-40);
    color: var(--primary-100);
  }

  [data-variant="secondary"] {
    background: var(--tertiary-100);
    color: var(--primary-30);
  }

  [data-variant="tertiary"] {
    background: var(--primary-40);
    color: var(--primary-10);
  }

  /* Sizes */
  [data-size="medium"] {
    font-size: var(--font-size-s);
    padding-left: 3rem;
    padding-right: 3rem;
    padding: 1rem;
  }
  [data-size="small"] {
    font-size: var(--font-size-xs);
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
</style>
