---
const { title, about } = Astro.props;
import Button from "./Buttons.astro";
---

<div class="card">
  <article></article>
  <h2>{title}</h2>
  <p>{about}</p>
  <slot />
  <a href="program">
    <Button variant="primary" size="small">TAKE ME THERE</Button>
  </a>
</div>

<style>
  .card {
    background-color: var(--secondary-100);
    border-bottom-left-radius: var(--border-radius-box);
    border-top-right-radius: var(--border-radius-box);
    padding: 30px;
    opacity: 80%;
  }
  .card:hover {
    scale: 1.1;
    opacity: 100%;
  }
  h2 {
    color: var(--primary-40);
  }
  p {
    color: var(--primary-40);
  }
</style>
