---
const { title, about, imgPath } = Astro.props;
import Button from "./Buttons.astro";
---

<a href="program">
  <div class="card">
    <h2>{title}</h2>
    <p>{about}</p>
    <img src={imgPath} alt="img" />
    <div class="knap">
      <Button variant="primary" size="medium">TAKE ME THERE</Button>
    </div>
  </div>
</a>
<style>
  .card {
    background-color: var(--secondary-100);
    border-bottom-left-radius: var(--border-radius-box);
    border-top-right-radius: var(--border-radius-box);
    width: 350px;
    height: 450px;
    margin: auto;
    display: grid;
  }
  .card:hover {
    opacity: 100%;
  }
  img {
    height: 250px;
    margin: auto;
  }
  h2 {
    color: var(--tertiary-80);
    margin: auto;
    margin-top: 20px;
  }
  p {
    color: var(--secondary-40);
    margin: auto;
  }
  .knap {
    display: grid;
    margin: 10px;
  }
</style>
