---
const { stage, event, association, when } = Astro.props;
---

<a href="link"></a>
<article class="program">
  <div>
    <h1>{stage}</h1>
    <h2>{event}</h2>
    <p>{association}</p>
    <p>{when}</p>
  </div>
</article>
