---
import Programkort from "./Programkort.astro";
const { indhold, stage } = Astro.props;
---

<section>
  <div>
    <h2>{stage}</h2>
  </div>

  {indhold.map((program) => <Programkort event={program.event} association={program.association} when={program.when} />)}
</section>
